<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>员工信息表格页面</title>
    <style>
      table {
        width: 100%;
        border-collapse: collapse;
      }
      th,
      td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>
    <h1>员工信息表格页面</h1>
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>用户名</th>
          <th>密码</th>
          <th>年龄</th>
          {% comment %} <th>操作</th> {% endcomment %}
        </tr>
      </thead>
      <tbody>
        {%for e in uarr%}
        <tr>
          <td>{{e.id}}</td>
          <td>{{e.username}}</td>
          <td>{{e.password}}</td>
          <td>{{e.age}}</td>
          {% comment %} <td><a href='/user/delete/?id={{e.id}}'>删除</a></td> {% endcomment %}
        </tr>
        {%endfor%}
      </tbody>
    </table>
    {% comment %} <a href='/user/add/'>添加</a> {% endcomment %}
  </body>
</html>
